{% extends 'dashboard_base.html' %}

{% block content %}

<style>
    .report-container {
      text-align: center;
      border: 1px solid black;
      width: 70%;
      margin: 20px auto;
      padding: 20px;
      background-color: #f8f8f8;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .date {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .name {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .title {
      font-size: 14px;
      margin-bottom: 10px;
      color: #888;
    }

    .comment {
      font-size: 14px;
      border-top: 1px solid black;
      margin-top: 10px;
      padding-top: 10px;
    }

    .no-report {
      text-align: center;
      margin-top: 50px;
      color: #888;
    }
  </style>

  <h2 style="text-align: center;">お問い合わせ詳細</h2>

    {% if contact %}
      <div class="report-container">
       
        <p class="name">名前: {{ contact.user }}</p>
        <p class="title">件名:{{ contact.title }}</p>
        <div class="comment">
          コメント:
          <p>{{ contact.message }}</p>
        </div>
      </div>
      {%else%}
    <p class="no-report">問い合わせはまだありません</p>
    {% endif %}

{% endblock %}
