{% extends 'dashboard_base.html' %}

{% block content %}
  <h2>お問い合わせの一覧</h2>

  <form method="GET" action="" style="margin-top:20px; margin-bottom:20px;">
    <input type="text" name="search" placeholder="生徒名を入力" value="{{ search_query }}">
    <button type="submit">検索</button>
</form>

  <table>
    <thead>
      <tr>
        <th>受信日</th>
        <th>名前</th>
        <th>保護者</th>
        <th>件名</th>
        <th>内容</th>

      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
        <tr>
          <td>{{ contact.created_date|date:"Y/m/d H:i" }}</td>
          <td>{{ contact.name }}</td>
          <td><a href ="mailto:{{ contact.user.email }}" >{{ contact.user }}</a></td>
          <td>{{ contact.title }}</td>
          <td><a href ="{% url 'dashboard:contact_detail' pk=contact.pk %}">詳細</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}






